.container {
  display: flex;
  flex-direction: column;
}

.graph {
  width: 100vw;
  height: 100vh;
  flex: 1;
}

.modal {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}