.employee{
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px;
  margin: 0 10px 10px;
  cursor: pointer;

  &__photo{
    height: 50px;
    width: 50px;
    background-color: #97bde8;
    margin-right: 20px;
    border-radius: 50%;
  }

  .column {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
  }

  .title{
    font-size: 16px;
    margin-bottom: 5px;
  }

  .subtitle{
    font-size: 13px;
  }

  .input{
    padding: 2px;

    border: 1px solid black;
    border-radius: 5px;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
